{extends file="base.html"}

{block name="content"}

    <!--sitebar_01-->
    <div class="sitebar sitebar_01">
        <div class="big_user_icon">
            
            <a href="/u/{$UserInfo.Name}"><img src="{if !$UserInfo.Avatar}/i/ph/user-144x144.png{else}/files/images/avatars/s_{$UserInfo.Avatar}{/if}" id="image" width="144" height="144" alt="" /></a>
            <a href="/u/{$UserInfo.Name}"><big>{if $UserInfo.BandName}{$UserInfo.BandName}{else}{$UserInfo.FirstName} {$UserInfo.LastName}{/if}</big></a>
        </div>

        <ul class="sitebar_menu">
            <li{if $module=='wallet'} class="active"{/if}><a href="/artist/wallet">My wallet</a></li>
            <li{if $module=='profile'} class="active"{/if}><a href="/artist/profile">My Artist Profile</a></li>
            <li{if $module=='music'} class="active"{/if}><a href="/artist/music">My Music store</a></li>
            <li{if $module=='video'} class="active"{/if}><a href="/artist/video">My Video store</a></li>
            <li{if $module=='photo'} class="active"{/if}><a href="/artist/photo">My Photo store</a></li>
            <li{if $module=='events'} class="active"{/if}><a href="/artist/events">My Events</a></li>
            <li{if $module=='fans'} class="active"{/if}><a href="/artist/fans">My Fans</a></li>
            <li{if $module=='tools'} class="active"{/if}><a href="/artist/tools">My Artist Tools</a></li>
            <li{if $module=='broadcasting'} class="active"{/if}><a href="/artist/broadcasting">My Broadcasting</a></li>
            <li{if $module=='settings'} class="active"{/if}><a href="/artist/settings">Settings</a></li>
        </ul>
    </div>
    <!--/sitebar_01-->

    {block name="my_cabinet"}
                
    {/block}
{/block}