{extends file="base.html"}

{block name="content"}
    <div class="sitebar sitebar_01">
        <div class="big_user_icon">
            <a href="/u/{$ui.Name}"><img src="{if !$ui.Avatar}/i/ph/user-144x144.png{else}/files/images/avatars/s_{$ui.Avatar}{/if}" id="image" width="144" height="144" alt="" /></a>
            <a href="/u/{$ui.Name}"><big>{$ui.FirstName} {$ui.LastName}</big></a>
        </div>

        <ul class="sitebar_menu">
            <li{if $module=='wall'} class="active"{/if}><a href="/u/{$ui.Name}">Wall</a></li>
            <li{if $module=='profile'} class="active"{/if}><a href="/u/{$ui.Name}/profile">Profile</a></li>
        </ul>
    </div>
    <!--/sitebar_01-->

    {block name="my_cabinet"}

    {/block}
    <!--sitebar_02-->
    <div class="sitebar sitebar_02">
        <h3><a href="#">Sponsored</a></h3>
        <div class="banners">
            <a href="#"><img src="/i/banner_01.png" alt="" /></a>
            <a href="#"><img src="/i/banner_02.png" alt="" /></a>
        </div>
    </div>
{/block}