{extends file="base.html"}

{block name="javascript"}
<link rel="stylesheet" href="/s/jquery-ui-1.8.16.custom.css" />
<link rel="stylesheet" href="/s/fileuploader.css" />
<script type="text/javascript" src="/j/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/j/jquery.autoellipsis-1.0.3.js"></script>
<script type="text/javascript" src="/j/cls/Profile.js"></script>
<script type="text/javascript" src="/j/cls/Wall.js"></script>
<script type="text/javascript" src="/j/cls/Play.js"></script>
<script type="text/javascript" src="/j/cls/Player.js"></script>
<script type="text/javascript" src="/j/fileuploader.js"></script>
<script type="text/javascript" src="/j/cls/Errors.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var user_id = {$ui.Id};
    var map;
    var geocoder;
    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(38.6,-98);
        var myOptions = {
            zoom: 2,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
{foreach key=k item=i from=$cities}
        geocoder.geocode( { 'address': '{$i.Location}'}, function(results, status)
        {
            if (status == google.maps.GeocoderStatus.OK)
            {
                var marker = add_marker(results[0].geometry.location, "{$i.Location}", "<div class='map-marker'><strong>{$i.Location}</strong><br />{$i.Cnt} fans<br /><br /><a href='/artist/fanfinder?loc={$i.Location}'>See list</a></div>");
                marker.setMap(map);
            }
        });
{/foreach}
    }

    function add_marker(latlng, title, box_html)
    {
        var infowindow = new google.maps.InfoWindow({
            content: box_html
        });
        var marker = new google.maps.Marker({
              position: latlng,
              map: map,
              title: title
        });
        google.maps.event.addListener(marker, 'click', function()
        {
            infowindow.open(map,marker);
        });
        return marker;
    }
    $(document).ready(function()
    {
        oWall.Reload();
        oProfile.InitPurchase();
        oPlay.InitPlayButtons();
        initialize();
        $(".ttl a").ellipsis();
		$('#file-uploader').hide();		
		$('#video-uploader').hide();
		$('#tabPhoto').click(function(){
			$('#file-uploader').show();
			$('#video-uploader').hide();
		});
		$('#tabVideo').click(function(){
			$('#file-uploader').hide();
			$('#video-uploader').show();
					
		});
    });
</script>
{/block}


{block name="content"}
    <!--sitebar_01-->
    <div class="sitebar sitebar_01">
        <div class="big_user_icon">
             <img src="{if !$ui.Avatar}/i/ph/user-234x234.png{else}/files/images/avatars/m_{$ui.Avatar}{/if}" id="image" width="234" alt="" />
        </div>

        <div class="user_content_block">
            <h3><a href="/artist/music">My music store 12</a> <a href="/artist/music" class="see_all">see all</a></h3>
            <table class="content_list">
                {foreach key=k item=i from=$music}
                <tr>
                    <td width="29"><a href="/player/music/{$i.Id}" class="" mid="{$i.Id}"><img src="{if $i.Image}/{$i.Image}{else}/i/ph/track-22x22.png{/if}" width="22" height="22" alt="" /></a></td>
                    <td class="ttl"><a href="/player/music/{$i.Id}" class="" mid="{$i.Id}">{$i.Title}</a></td>
                </tr>
                {/foreach}
            </table>
            <a href="/artist/music" class="button yellow_button">Edit my music</a>
        </div>
        <div class="user_content_block">
            <h3><a href="/artist/video">My video store</a> <a href="/artist/video" class="see_all">see all</a></h3>
            <table class="content_list">
                {foreach key=k item=i from=$video}
                <tr>
                    <td width="29"><a href="/artist/video?id={$i.Id}"><img src="{if $i.FromYt}http://i.ytimg.com/vi/{$i.Video}/default.jpg{elseif $i.Status == 2}/files/video/thumbnail/{$i.UserId}/x_{$i.Video}.jpg{else}/i/ph/video-22x22.png{/if}" width="22" height="22" alt="" /></a></td>
                    <td class="ttl"><a href="/artist/video?id={$i.Id}">{$i.Title}</a></td>
                </tr>
                {/foreach}
            </table>
            <a href="/artist/video" class="button yellow_button">Edit my videos</a>
        </div>

        
        <div class="user_content_block">
            <h3><a href="/artist/broadcasting">My live streaming</a> </h3>
            <a href="/artist/broadcasting" class="button yellow_button">Start broadcast</a>
        </div>
        
        <div class="user_content_block">
            <h3><a href="/artist/fans">My Fans List</a> <a href="/artist/fans" class="see_all">see all</a></h3>
            <table class="content_list">
                {foreach key=k item=i from=$fans}
                <tr>
                    <td width="29"><a href="/u/{$i['u.Name']}"><img src="{if $i['u.Avatar']}/files/images/avatars/x_{$i['u.Avatar']}{else}/i/ph/user-48x48.png{/if}"/></a>{if $i['u.IsOnline'] == 1}<font color="#00CC33">Online</font>{else}Offline{/if}</td>
                </tr>
                {/foreach}
            </table>
        </div>
        
    </div>
    <!--/sitebar_01-->
    <!--content_block-->
    <div class="header_block">
        <a href="/artist/" class="button fl_right"><span class="edit_icon">Edit my page</span></a>
        <h1>{if $ui.BandName}{$ui.BandName}{else}{$ui.FirstName} {$ui.LastName}{/if}</h1>
        <div class="artist_profile">
            <span>Genre:</span> {assign var="numg" value=0}
{foreach name=n key=k item=i from=$genres}
{if $ui.Genres.$k}{$i}{assign var="numg" value=$numg+1}{if $numg < $ui.Genres|@count},{/if} {/if}
{/foreach} {if $ui.Location}<span>• Location:</span> {$ui.Location}{/if} <span>• Fans:</span> <a href="/artist/fans">{$fans_count}</a><br />
            <a href="/artist/profile">Artist profile</a>
        </div>
    </div>
    {include file="mods/profile/say_form.html"}
    <!--/content_block-->
    <!--sitebar_02-->
    <div class="sitebar sitebar_02">

        <div class="my_wallet">
            <div class="my_wallet_block">
                <b><a href="/artist/wallet">My wallet</a></b><br /> {if $ui.Wallet}{$ui.Wallet}{else}0{/if} credits <span class="add">{if $add_sum}+{$add_sum} today{/if}</span>
                <br /><a href="/artist/wallethistory"><small>Transaction history</small></a>
            </div>
        </div>

        <div class="artist_tools">
            <h3><a href="/artist/tools">Artist tools</a></h3>
            <ul>
                <li class="active"><a href="/artist/fanfinder" class="ul_arr"><b>Fan finder:</b> {$fans_count} fans in {$fans_cntr_count} countries</a>
                    <div id="map_canvas" style="width: 235px; height: 227px;"></div>
                </li>
                <li>
                    <a href="/artist/fantop100" class="ul_arr"><b>Top fan 100</b></a>
                </li>
            </ul>
        </div>
        <div class="user_content_block">
            <h3><a href="/artist/events">My events</a> <a href="/artist/events" class="see_all">see all</a></h3>
            <ul class="calend_list">
                {foreach key=k item=i from=$events}
                <li><div class="date">{$i.EventDate|mdate:2}<br /> {$i.EventDate|mdate:3}</div> <strong><a href="/artist/events/{$i.Id}">{$i.Title}</a></strong> <br />{$i.Location}	</li>
                {/foreach}
            </ul>
            <a href="/artist/events" class="button yellow_button">Edit my events</a>
        </div>
    </div>
    <!--/sitebar_02-->
    {include file="mods/profile/blocks/_buy_block.html"}
{/block}