<div class="content_block"> {if $broadcast}
  <div class="video-holder">
    <div class="video" id="broadcast"> </div>
  </div>
  <div style="clear:both;height:4px;">
    <!-- -->
  </div>
  {/if}
  {if $IsAuth}
  <div>Post: <a href="#" id="tabPhoto" >Photo</a>&nbsp;&nbsp;<a href="#" id="tabVideo">Video</a></div>
  <div class="alert alert_error" style="display: none;"> <a class="close" href="javascript:void(0);" onclick="$(this).parent().hide();" title="close">×</a> <strong>Error!</strong> <span id="err_mesg"></span> </div>
  <div class="say_form">
    <fieldset>
    <input onclick="if ($(this).val()=='Say something...') $(this).val('');" id="mesg" class="text_input" type="text" value="Say something..." onblur="javascript:if(this.value=='')this.value='Say something...'" onfocus="javascript:if(this.value=='Say something...')this.value=''"  />
    <input type="button" onclick="oWall.Post();" class="button yellow_button" value="Say it" />
    <div class="wait">&nbsp;</div>
    <div id="file-uploader" style="float: left; margin-top:10px;">
      <noscript>
      <p>Please enable JavaScript to use file uploader.</p>
      </noscript>
    </div>
    <div id="video-uploader">
      <p>Video URL:</p>
      <input type="text" name="videoLink" id="videoLink" value="" class="required video" title="Video Link" style="width:300px;" />
    </div>
    <div class="err" id="err_image"></div>
    <input type="hidden" name="wallImage" id="wallImage" value="" />
    <div id="wallImg" style="display:none;"> <img src="" width="100" id="img12" /> </div>
    </fieldset>
  </div>
  {/if} <span class="wall_info"></span>
  <div class="more_posts wall_more" style="display:none;"> <a href="javascript:void(0);" onclick="oWall.Reload(1, 1)">567 more wall posts...</a><span class="wait" style="display: none;"></span> </div>
</div>
