{foreach $wallInfo as $wall}
<div class="post_block wall" wid="{$wall.Id}">
<div class="post_user_icon">
<a href="/u/{$wall.Name}"><img src="{if $wall.Avatar}/files/images/avatars/x_{$wall.Avatar}{else}/i/ph/user-48x48.png{/if}" width="48" height="48" alt="" /></a></div>
</div>
<div class="post_user_text">
<div class="user_name"><a style="color:#000;" href="/u/{$wall.Name}">
{if $wall.BandName}{$wall.BandName}{else}{$wall.FirstName} {$wall.LastName}{/if}</a>
<span>says {if $wall.Pdate}{$wall.Pdate} ago{/if}</span></div>
<p>{$wall.Mesg}</p>
{if $wall.Photo}<p><img src="/files/wall/thumb/{$wall.Photo}" /></p>{/if}
{if $wall.Video}<p>{$videoObj->setVideoWidthAndHeight($wall.Video, 350, 300)}</p>{/if}
<script>
    $(document).ready(function()
    {
		$('#file-uploader').hide();		
		$('#video-uploader').hide();
		oErrors.SetOkFld('image', '');
	});
</script>
</div>
<div id="latestComment_{$wall.Id}">
{include file="ajax/comment.html" commentList=$wall.commentList}
</div>
<div class="post_comment">
<textarea  class="text_input wallComment swapValue"  name="wallComment_{$wall.Id}" id="wallComment_{$wall.Id}"  onclick="if(this.value=='Add Comments') this.value = ''" onblur="if(this.value == '') this.value='Add Comments'">Add Comments</textarea>
</div>
{if $log[$wall.Id]}
    <div class="post_info">
    {foreach $log[$wall.Id] as $logInfo}
        {if $logInfo.Action == 'follow'}
            <a href="/u/{$logInfo.Name}" class="icon_01">
            {if $logInfo.BandName}{$logInfo.BandName}{else}{$logInfo.FirstName} {$logInfo.LastName}{/if}</a>
            is now following {if $artist}{$artist}{else}you{/if}
        {else}
            {if $logInfo.Action == 'buy_track'}
                {assign var="icon" value="icon_02"}
                {assign var="item" value="track"}
            {elseif $logInfo.Action == 'buy_album'}
                {assign var="icon" value="icon_03"}
                {assign var="item" value="album"}
            {elseif $logInfo.Action == 'buy_video'}
                {assign var="icon" value="icon_03"}
                {assign var="item" value="video"}
            {elseif $logInfo.Action == 'buy_access'}
                {assign var="icon" value="icon_03"}
                {assign var="item" value="online event access"}
            {/if}
            <a href="/u/{$logInfo.Name}" class="{$icon}">
            {if $logInfo.BandName}{$logInfo.BandName}{else}{$logInfo.FirstName} {$logInfo.LastName}{/if}</a> 
            just bought {if $artist}{$artist}s{else}your{/if} {$item} {$logInfo.Title}: <b>{$logInfo.Money} credits</b>
        {/if}
    {/foreach}
    </div>
{/if}
{/foreach}