{extends file="base.html"}

{block name="javascript"}
{/block}

{block name="content"}
        <div class="content_block big_content">
            <h1>Page not found!</h1>
            <br />
            <p>We're sorry, but we could not find the page you're trying to access.</p>
            <p>
            <ul>
                    <li>Please double check the address in the address bar</li>
                    <li>Or try our <a href="/">home page</a> instead</li>
            </ul>
            </p>
	</div>
	<!--/content_block-->
{/block}