{extends file="base.html"}

{block name="javascript"}
<link rel="stylesheet" href="/s/jquery-ui-1.8.16.custom.css" />
<script type="text/javascript" src="/j/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/j/cls/Profile.js"></script>
<script type="text/javascript" src="/j/cls/Errors.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
        {if !$UserInfo.Status}
        oProfile.InitEventActionsForGuests();
        {else}
        oProfile.InitEventActions();
        {/if}
    });
</script>
{/block}

{block name="content"}
        <!--content_block-->
        <div class="content_block big_content">

            <h1>Upcoming events <span>&ndash; {if $df=="td"}Today{elseif $df=="twd"}This weekend{elseif $df=="tw"}This week{elseif $df=="nw"}Next week{else}All{/if}</span></h1>

            <div class="sort_block">
                <div class="see_calend"><a href="/base/index/eventscalendar">See calendar</a></div>
                Display events:
                <select name="df" onchange="Go('/base/index/events?df='+$(this).val());">
                    <option value="all">All</option>
                    <option value="td"{if $df=="td"} selected="selected"{/if}>Today</option>
                    <option value="twd"{if $df=="twd"} selected="selected"{/if}>This weekend</option>
                    <option value="tw"{if $df=="tw"} selected="selected"{/if}>This week</option>
                    <option value="nw"{if $df=="nw"} selected="selected"{/if}>Next week</option>
                </select>
            </div>
            {if $events}
            <table class="style_table">
                <colgroup>
                    <col width="117px" />
                    <col width="69px" />
                    <col />
                    <col width="110px" />
                    <col width="60px" />
                    {if $UserInfo.Status!=2}
                    <col width="115px" />
                    {/if}
                </colgroup>
                <tr>
                    <th>Artist</th>
                    <th>Date</th>
                    <th align="left">Title</th>
                    <th align="left">Location</th>
                    <th>Type</th>
                    {if $UserInfo.Status!=2}
                    <th></th>
                    {/if}
                </tr>
                {foreach key=k item=i from=$events}
                <tr>
                    <td class="event-artist">
                        <a href="/u/{$artists[$i.UserId]['Name']}" title="{if $artists[$i.UserId]['BandName']}{$artists[$i.UserId]['BandName']}{else}{$artists[$i.UserId]['FirstName']} {$artists[$i.UserId]['LastName']}{/if}"><img src="{if $artists[$i.UserId]['Avatar']}/files/images/avatars/s_{$artists[$i.UserId]['Avatar']}{else}/i/ph/user-48x48.png{/if}" alt="{if $artists[$i.UserId]['BandName']}{$artists[$i.UserId]['BandName']}{else}{$artists[$i.UserId]['FirstName']} {$artists[$i.UserId]['LastName']}{/if}" /></a>
                    </td>
                    <td>
                        <div class="calend_date">
                            <div class="day">{$i.EventDate|cdate:dweek}</div><div class="month">{$i.EventDate|cdate:month}</div>{$i.EventDate|cdate:mday}
                        </div>
                    </td>
                    <td><strong><a href="/u/{$artists[$i.UserId]['Name']}/events/{$i.Id}" class="ttl">{$i.Title}</a></strong></td>
                    <td>{$i.Location}</td>
                    <td align="center">{if $i.EventType==1}<span class="label live">live</span>{elseif $i.EventType==2}<span class="label stream">stream</span>{elseif $i.EventType==3}<span class="label online">online</span>{/if}{if $i.EventType!=1}{if $i.Price>0}<span class="pricetag event">{$i.Price}</span>{else}<span class="pricetag event free">Free</span>{/if}{/if}</td>
                    {if $UserInfo.Status!=2}
                    <td align="center">
                        {if $i.EventType!=3}{if !$i['EventAttend.Id']}<a href="javascript:void(0);" class="button attend_event" mid="{$i.Id}">I will go!</a>{else}<div class="good status-good">You're going</div>{/if}{/if}
                        {if $i.EventType>1}{if !$i['EventPurchase.Id']}<a href="javascript:void(0);" class="button yellow_button buy_access" mid="{$i.Id}" price="{$i.Price}">{if $i.Price>0}Buy{else}Get{/if} access</a>{else}<a href="/fan/events/{$i.Id}" class="button">Access info</a>{/if}{/if}
                    </td>
                    {/if}
                </tr>
                {foreachelse}
                <tr>
                    <td colspan="{if $UserInfo.Status!=2}6{else}5{/if}">No events</td>
                </tr>
                {/foreach}
            </table>

            {$pagging}

            {/if}
	</div>
	<!--/content_block-->
	<!--sitebar_02-->
	<div class="sitebar sitebar_02">
		<br /><br /><br />
		<img src="/i/banner_01.png" alt="banner_01" width="234" height="124" />
		<br /><br />
		<img src="/i/banner_02.png" alt="banner_01" width="234" height="124" />

	</div>
	<!--/sitebar_02-->
{include file="mods/profile/blocks/_buy_block.html"}
{/block}