#list { background: rgba(0,0,0,0.2); padding: 20px; }
#chat-wrap { border: 1px solid #eee; width: 450px; float:left; }
#chat-area { height: 300px; overflow: auto; padding: 20px; background: white; }
#chat-area span { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0; }
#chat-area p { padding: 8px 0; border-bottom: 1px solid #ccc; color: #333; }

#name-area { top: 12px; right: 0; color: white; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right; }   
#name-area span { color: #fa9f00; }

#send-message-area p { float: left; color: white; padding-top: 27px; font-size: 14px; }

#sendie { width: 425px; padding: 10px; margin: 5px 0 0 0; font: 12px; }

.viewers_list { float: right; width: 280px; height: 410px; overflow: auto; font-size: 18px; list-style: none; }
.viewers_list  li { float: left; width:280px; }
.viewers_list  li.head { border-bottom: 1px solid #eee; }
.viewers_list  li img { padding: 5px;}