
#navH { float:left; margin:top; margin:0; position:relative;	z-index: 100; }
#navH li { font-size:12px; color:#696466; float:left; padding:0 10px; display:inline-block; position:relative; text-transform:uppercase;}
#navH li a { color:#696466; line-height:70px; display:block; }
#navH li:hover a { color:#fff;}


#navH li li { margin:0; padding:0; text-align:left; border-bottom:1px solid #000; border-top:1px solid #3f3f3f; min-width:150px;}
#navH li li:last-child { border-bottom:0px none #000; }
#navH li li a { line-height:50px; text-align:left; padding:0 15px 0 53px;
-webkit-transition: all 0ms linear; /* Firefox */
-moz-transition: all  0ms linear; /* WebKit */
-o-transition: all  0ms linear; /* Opera */
transition:  all  0ms linear; /* Standard */

 }
#navH li li:hover {  }
#navH li ul {visibility: hidden;	position:absolute;	top:70px;	left:0;	margin:0;	background:#e6e6e6; border-radius:0 0px 5px 5px; box-shadow:2px 2px 5px #000;
background: #3a3a3a; /* Old browsers */
background: -moz-linear-gradient(top,  #3a3a3a 0%, #1e1e1e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(100%,#1e1e1e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3a3a3a 0%,#1e1e1e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3a3a3a 0%,#1e1e1e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3a3a3a 0%,#1e1e1e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3a3a3a 0%,#1e1e1e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1e1e1e',GradientType=0 ); /* IE6-9 */




}

#navH li li span { border-radius:0 3px 3px 0; height:40px; width:5px; margin-top:3px; display:block; float:left;}
#navH li li:hover span { background:#eb263f;}


#navH li li ul {
	top: 0;
	left: 0;
}
#navH li.hover ul {
	visibility: visible;
}
#navH li.hover ul li ul {
	visibility: hidden;
}
#navH li.hover li.hover ul {
	visibility: visible;
	left: 100%;
}


#navH li.vid { background:url("../si/ic-vd-d.png") no-repeat scroll 12px center transparent;}
#navH li.art { background:url("../si/ic-ar-d.png") no-repeat scroll 12px center transparent;}

#navH li.mus { background:url("../si/ic-mu-d.png") no-repeat scroll 14px center transparent;}

#navH li.sho { background:url("../si/ic-sh-d.png") no-repeat scroll 10px center transparent;}


