/*------------------------NEW SLIDER-------------------*/


.slide360  { }
.slide360 ul { }
.slide360.responsive {	width: auto;margin-left: 0;	}
.slide360 .clearfix { float: none; clear: both;}
.slide360 .prev { float: left; margin-left: 10px; }
.slide360 .next {float: right;margin-right: 10px;}
.slide360 .pager {float: left;width: 300px;text-align: center;}
.slide360 .pager a {margin: 0 5px;text-decoration: none;}
.slide360 .pager a.selected {text-decoration: underline;}
.slide360 .timer {background-color: #999;height: 6px;width: 0px;}


/*COMMON*/
.slide360 li { text-align:left;	padding: 0;	margin: 0;	display: block; float:left; margin:0 auto;}
.slide360 .buttons { background:url("../si/UI/coverSlider/slider-btns-over.png") no-repeat scroll 0 0 transparent; background-position: 0 -42px; text-indent: -999em; float: left; width: 39px; height: 42px; overflow: hidden; position: absolute; top:43%; z-index:9; margin:0; border:0px solid #eee; border-radius:3px 0px 0 3px; }
.slide360  .buttons:hover { background-image:url("../si/UI/coverSlider/slider-btns.png")}
.slide360  .next { background-position: 0 0; right: 0px; }
.slide360  .prev { left:0px; border-radius:0px 3px 3px 0px;}
.slide360  .navi { display:none; }
.slide360:hover  .navi { display:block;}

.slide360 li.noSlider { background: none repeat scroll 0 0 #CCCCCC;  color: #555555;  font-size: 22px;  padding-top: 150px !important;  text-align: center !important;  text-shadow: 1px 1px 1px #EEEEEE;  text-transform: capitalize; }



/*WIDE SLIDER*/
.wideSlide { width:1025px; margin:auto; height:350px; overflow:hidden; position:relative; background:#000000;}
.wideSlide li { width:1025px; height:350px; position:relative; }
.wideSlide li .vidIc {
    background: url("../si/playIc-54.png") no-repeat scroll 0 0 transparent; display:none;
    height: 70px;
    left: 485px;
    position: absolute;
    top: 134px;
    width: 70px;
}
.wideSlide:hover .vidIc  { display: block;}


.wideSlide .ic { z-index:9;  position:absolute; }
.wideSlide .ic-upload { background:url("../si/UI/coverSlider/ic-upload.png") no-repeat scroll 0 0 transparent; display: block; width:16px; height:13px; left:10px; bottom:12px; }
.wideSlide .ic-camera { background:url("../si/UI/coverSlider/ic-camera.png") no-repeat scroll 0 0 transparent; display: block; width:17px; height:14px; left:35px; bottom:12px; }


.likeBa { right:10px; bottom:10px; width:25px; height:32px; background: url(../si/like-Ba.png) no-repeat; }
.wideSlide .addPic {  cursor:pointer; height:25px; font-size:14px; padding:0; line-height:25px; border-radius:3px; color:#53576c; display:block; float:left; bottom:15px; right:15px; }
.wideSlide .addPic .ic { background:#333333 url(../si/ic-plus-w.gif) no-repeat center center; height:25px; width:25px; border-radius:3px 0px 0px 3px; padding-left:0; }
.wideSlide .addPic span { display:block; float:left; }
.wideSlide .addPic .txt {  height:25px; display: inline-block; float:right;  border-radius:0px 3px 3px 0px; margin-left:25px; padding: 0 5px; font-size:12px;
background: #f4f4f4; /* Old browsers */
background: -moz-linear-gradient(top,  #f4f4f4 0%, #d5d5d5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#d5d5d5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f4f4f4 0%,#d5d5d5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f4f4f4 0%,#d5d5d5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f4f4f4 0%,#d5d5d5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f4f4f4 0%,#d5d5d5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-9 */ }



/*evShow*/
.slide360 #evShow li { text-align:left;	padding: 0;	margin: 0;	display: block; float:left; width:850px;}
.slide360 #evShow li img { width:550px; float:left; min-height:315px;}
.slide360 #evShow li .decBox{ width:300px; height:315px; float:left; color:#ffffff; padding:15px; -moz-box-sizing:border-box; box-sizing:border-box;  background:#ED273D; position:relative;  }

.slide360 #evShow li .decBox .nameTxt { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 200px; margin-top:35px;}
.slide360 #evShow li .decBox .titleTxt { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 240px; font-size:16px; }
.slide360 #evShow li .decBox .decTxt { margin:10px 0}

.slide360 #evShow li .timTxt { color: #FFFFFF; display: block; float: left; font-size: 14px; }
.slide360 #evShow li .evDate { padding: 1px 8px 0 0; }
.slide360 #evShow li .buyBtn {  padding-left:15px; padding-right:15px; line-height:45px; display:block; float:right;  border-radius:8px; background:#ffffff; text-align:left; font-size:15px; color:#000000; position:absolute; bottom:10px; right:10px; }
.slide360 #evShow li .buyBtn span.ic {  background:url(../si/ic-cartB.png) right center no-repeat; height:45px; width:45px; display:inline-block; }




