<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <title>{block name="title"}Artistfan{/block}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/s/style.css" type="text/css" />
        <!--[if IE]>
        <link rel="stylesheet" href="/dev/templates/css/ie.css" type="text/css" />
        <![endif]-->

        {block name="css"}{/block}

        <script type="text/javascript" src="/j/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="/j/main.js"></script>
        <script type="text/javascript" src="/j/cls/Users.js"></script>
        <script type="text/javascript" src="/j/cls/photobuy.js"></script>   
        <!--Jquery Dialog box for photo price, buy etc start -->
		<script type="text/javascript" src="/dev/templates/js/jquery-ui-1.8.16.custom.min.js"></script>
		<link rel="stylesheet" href="/dev/templates/css/jquery-ui-1.8.16.custom.css" />                    
        <!--Jquery Dialog box for photo price, buy etc End -->        

        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
		<script type="text/javascript" src="/dev/templates/js/jquery.form.js"></script>
		<script type="text/javascript" src="/dev/templates/js/cls/Search.js"></script>

        <script type="text/javascript">
            $(function() {
                oUsers.FBInit('{$FbApiId}', '{$DOMAIN}');
            });
        </script>

        {block name="javascript"}{/block}

    </head>
    <body class="main_body{block name="body_class"} home{/block}">
<div id="fb-root"></div>
{literal}
<script type="text/javascript">
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={/literal}{$FbApiId}{literal}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{/literal}
        <!--header-->
        {block name="header"}
        <div class="header">
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="/i/logo.png" width="110" height="38" alt="artistsfan" /></a>
                </div>
                
                {block name="login_box"}


                <ul class="header_menu">
                    <li{if $topmenu=='artists'} class="active"{/if}><a href="/base/index/artists">Artists</a></li>
                    <li{if $topmenu=='events'} class="active"{/if}><a href="/base/index/events">Events</a></li>
                    <li{if $topmenu=='hot'} class="active"{/if}><a href="/base/index/hot">Whats hot</a></li>
                </ul>
                <div class="header_right">
				<form method="post" action="/base/search/search" id="search_form">
        			<input type="hidden" name="do" value="do_search" />
                    	<div id="search_result"></div>
                        <fieldset>
                            <input class="search" type="text" name="search_key" id="search_key" value="{$search_key}" /><input type="submit" name="go" value="Go">
                        </fieldset>
                    </form>
                    {if !$IsAuth}
                    <div class="header_user sign">
                        <a href="/base/user/login">Sign in</a> or &nbsp; <a href="/base/user/registration" class="button">Sign up free</a>
                    </div>
                    <div class="header_icon">
                        <a href="#" class="help_icon" title="help"><span>help</span></a>
                    </div>
                    {else}
                    <div class="header_user">
                        {if $UserInfo.Avatar}<a href="{if $UserInfo.Status==1}/fan/{else}/artist/{/if}"><img src="/files/images/avatars/x_{$UserInfo.Avatar}" width="24" height="24" alt="" /></a>{/if} <a href="/u/{$UserInfo.Name}"> {if $UserInfo.BandName}{$UserInfo.BandName}{else}{$UserInfo.FirstName} {$UserInfo.LastName}{/if}</a>
                    </div>
                    <div class="header_icon">
                        <a href="/{if 2==$UserInfo.Status}artist{else}fan{/if}/" class="option_icon" title="option"><span>option</span></a>
                        <a href="/base/user/logout" class="exit_icon" title="exit"><span>exit</span></a>
                    </div>
                    {/if}
                </div>
                {/block}
            </div>
        </div>
        {/block}
        <!--/header-->
        <!--content-->
        <div class="content">
            <div class="container{block name="container_class"}{/block}">

                {block name="content"}{/block}

                <!--footer-->	
                <div class="footer">
                    <div class="footer_menu">
                        <a href="/pages/about.html">About</a>  •  <a href="/pages/advertising.html">Advertising</a>  •  <a href="/pages/privacy.html">Privacy</a>  •  <a href="/pages/terms.html">Terms</a>  •  <a href="/pages/help.html">Help</a>
                    </div>
                    <div class="copy">Copyright © 2012 Artistsfan.com. All rights reserved.</div>
                </div>
                <!--/footer-->
            </div>
        </div>
        <!--/content-->

    </body>
</html>