<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>{block name="title"}Artistfan{/block}</title>
 
 <link rel="stylesheet" href="/s/style.css" type="text/css" />
 
<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="css/slider.css" type="text/css" media="screen"/>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.tinycarousel.min.js"></script>
<script type="text/javascript">
		$(document).ready(function(){
			$('#slider1').tinycarousel();	
		});
	</script>
</head>
<body>
<!--BLUEBAR HEADER-->
<div id="blueBarHolder">
  <div id="pageHead"> <a href="#"  id="logoH"></a>
    <ul id="navH">
      <li><a href="#">Artist</a></li>
      <li><a href="#">Events</a></li>
    </ul>
    <div id="searchH" class="relative">
      <input type="text" class="txtBox" value="Search" />
      <input name="" type="button" class="btn" />
    </div>
    <div id="profileH"> <a href="#">
      <div  id="Cpic" class="relative"><img src="images/Ppic.jpg" align="left" /> <span class="count">2</span></div>
      <div id="title">Chenoa</div>
      </a> </div>
    <div id="AccountH"> <a href="#" class="logout-ic"></a> <a href="#" class="setting-ic"></a> </div>
  </div>
</div>