{extends file="base.html"}

{block name="javascript"}
{/block}

{block name="container_class"} home_page{/block}
{block name="content"}
        <div class="content_block big_content">
            <h1>Search Results</h1>
            <div class="hot">
                <div class="alert alert_warning">
                    Post Search Result showing  Artist/Fans :
                </div>

                {if $fans}         
                     <h2>Fans Results</h2>                      
                    {foreach key=k item=i from=$fans}
                     <div class="post_block">
                        <div class="post_user_icon">
                            <a href="/u/{$i.Name}"><img src="{if $i.Avatar}/files/images/avatars/x_{$i.Avatar}{else}/i/ph/user-48x48.png{/if}"/>&nbsp;&nbsp;<b>{$i.Name} </b></a>
                        </div>
                    </div>
                    {/foreach}
               {/if}                
            </div>
	</div>
	<!--/content_block-->
	<!--sitebar_02-->
		{include file="mods/search/search_side.html"}
	<!--/sitebar_02-->
{/block}