{extends file="base.html"}

{block name="javascript"}
{/block}

{block name="container_class"} home_page{/block}
{block name="content"}
        <div class="content_block big_content">
            <h1>Search Results</h1>
            <div class="hot">
                <div class="alert alert_warning">
                    Post Search Result showing  Artist/Fans :
                </div>
                
               <h2>Music Results</h2> 
               
                {foreach key=k item=i from=$music}
                 <div class="post_block">
                    <div class="post_user_icon">
                        <a href="/u/{$i.Name}/play/{$i.Id}"><img src="/i/ph/track-22x22.png" alt="" />&nbsp;&nbsp;<b>{$i.Title}</b></a>
                    </div>
                </div>
                {/foreach}                
            </div>
	</div>
	<!--/content_block-->
	<!--sitebar_02-->
		{include file="mods/search/search_side.html"}
	<!--/sitebar_02-->
{/block}