	<!--sitebar_02-->
	<div class="sitebar sitebar_02">
            <br /><br /><br />
            <h2>Search Result</h2>
            
           >> &nbsp;<a href="/base/search/search?search_key={$search_key}"> All Results </a><br />
           >> &nbsp; <a href="/base/search/searchmusic?search_key={$search_key}">Musics</a><br />
           >> &nbsp; <a href="/base/search/searchvideo?search_key={$search_key}">Videos</a><br />    
           >> &nbsp; <a href="/base/search/searchartist?search_key={$search_key}">Artist</a><br />
           >> &nbsp; <a href="/base/search/searchfans?search_key={$search_key}">Fans</a><br />     
            
            <div class="featured_albums_list">          
            
            </div>
	</div>
	<!--/sitebar_02-->