{if $pages}
        <div class="page">
        <table align="right">
        <tr>
            <td style="width: 30px;">    
			    {if $lprev}<a href="{$lprev}"><img src="/i2/page_arr_left.gif" width="24" height="24" alt="" /></a>{/if}
            </td>
            <td>
					{section name=i loop=$pages}
					{if $page == $pages[i].page}
					<span class="gray">{$pages[i].page}</span>
					{else}
					<a href="{$pages[i].link}">{$pages[i].page}</a>
					{/if}
					{/section}
					{if $last_page}
					<span class="gray">&nbsp; ...</span> &nbsp;
					<a href="{$last_page_link}">{$last_page}</a>
					{/if}
			</td>
			<td{if $lnext} style="width: 25px; padding-left:8px;"{/if}>
			    {if $lnext}<a href="{$lnext}"><img src="/i2/page_arr_right.gif" width="24" height="24" alt="" /></a>{/if}
			</td>
		</tr>
		</table>		
	    </div>
{/if}		