<div class="path">
    <a href="{$siteAdr}">Панель администрирования</a> &raquo; Текстовые страницы
</div>

<h1>{if $id}Редактировать{else}Добавить{/if} категорию</h1>



<form method="post" action="{$siteAdr}base/pages/editcat/">
{if $id}
<input type="hidden" name="id" value="{$id}" />
{/if}

{if $errs}
    <font color="#990000">
    {foreach key=k item=i from=$errs}
     - {$i}<br />
    {/foreach}
    </font><br />
{/if}

<div class="blue_block">

<p>Сортировка<br /><input  class="text_input_small" style="width:120px;" type="text" name="fm[Sortid]" value="{$fm.Sortid}"  /></p>
<p>Заголовок категории<br /><input  class="text_input_small" style="width:370px;" type="text" name="fm[Title]" value="{$fm.Title}"  /></p>


<p><input type="button" value="Отмена" onclick="Go('{$siteAdr}base/pages/IndexAdmin');" /> <input type="submit" value="Сохранить" /></p>
</form>

</div>
