{extends file="mods/admin/index.html"}

{block name="javascript"}
<script type="text/javascript" src="/dev/templates/js/cls/Errors.js"></script>
<script type="text/javascript">
    var errs = {literal}{{/literal}{foreach key=k item=i name=n from=$errs}{if !$smarty.foreach.n.first}, {/if}'{$k}' : '{$i}'{/foreach}{literal}}{/literal};
    $(document).ready(function()
    {
        oErrors.Show();
    });
</script>
{/block}

{block name="content"}
<div class="path">
    <a href="/siteadmin/">Administration panel</a> &raquo; <a href="/base/pages/indexadmin">Pages</a> &raquo; {if $id}Edit{else}Add{/if} page
</div>
				
<h1>{if $id}Edit{else}Add{/if} page</h1>


<div class="blue_block">
    <form method="post" action="/base/pages/editpage">
        {if $id}
        <input type="hidden" name="id" value="{$id}" />
        {/if}

        <table class="style_table no_border">
            <colgroup>
                <col width="55">
                <col />
            </colgroup>
            <tbody>
            <tr>
                <td>Sort:</td>
                <td><input type="text" name="fm[Sortid]" value="{$fm.Sortid}" class="text_input_small short" /></td>
                <td id="err_Sortid" class="err"></td>
            </tr>
            <tr>
                <td>Title:</td>
                <td><input type="text" name="fm[Title]" value="{$fm.Title}" class="text_input_small long" /></td>
                <td id="err_Title" class="err"></td>
            </tr>
            <tr>
                <td>Alias:</td>
                <td><input type="text" name="fm[Pagename]" value="{$fm.Pagename}" class="text_input_small long" /></td>
                <td id="err_Pagename" class="err"></td>
            </tr>
            <tr>
                <td valign="top">Text:</td>
                <td colspan="2">
                    <textarea id="myTextArea" name="fm[Story]" rows="20" cols="70">{$fm.Story}</textarea>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <input type="button" value="Cancel" onclick="Go('/base/pages/indexadmin');" />
            <input type="submit" value="Save" />
        </div>
    </form>
</div>
{/block}