{extends file="mods/admin/index.html"}

{block name="javascript"}
{/block}

{block name="content"}
<h1>Pages</h1>

<br /><br />
<table class="style_table f13">
    <colgroup>
        <col width="100" />
        <col />
        <col width="180" />
        <col width="150" />
        <col width="50" />
        <col width="50" />
    </colgroup>
    <thead>
        <tr>
            <th class="aleft">Sort</th>
            <th class="aleft">Title</th>
            <th class="aleft">Alias</th>
            <th>Published</th>
            <th align="left">&nbsp;</th>
            <th align="left">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {foreach key=k item=i from=$list}
        <tr{if $smarty.foreach.n.index mod 2 != 0} class="blue_bg"{/if}>
                <td>{$i.Sortid}</td>
                <td><a href="/base/pages/editpage/?id={$i.Id}">{$i.Title}</a></td>
                <td>{$i.Pagename}</td>
                <td class="acent">
                {if $i.Active}
                <img src="/i2/ico/status_green.gif" alt="Published" />
                <a href="/base/pages/active/?id={$i.Id}"><img src="/i2/ico/status_red_l.gif" alt="Hide page" /></a>
                {else}
                <a href="/base/pages/active/?id={$i.Id}"><img src="/i2/ico/status_green_l.gif" alt="Publish page" /></a>
                <img src="/i2/ico/status_red.gif" alt="Hidden" />
                {/if}
                </td>
                <td class="green-txt"><a href="/base/pages/EditPage/?id={$i.Id}"><img src="/i2/ico/icon_edit.gif" alt="Edit" /></a></td>
                <td class="green-txt"><a href="javascript: CGo('/base/pages/del/?id={$i.Id}', 'Do you really want to delete this page?');"><img src="/i2/ico/icon_del.gif" alt="Delete" /></a></td>
        </tr>
        {foreachelse}
        <tr>
            <td colspan="6">No pages</td>
        </tr>
        {/foreach}
    </tbody>
</table>

<div id="pagging">{$pagging}</div>

<div class="blue_block">
    <a href="/base/pages/editpage" class="str_submit"><span><b>Add page</b></span></a>
    <div class="clear"></div>
</div>
{/block}