{extends file="base.html"}
{block name="body_class"} {/block}

{block name="javascript"}
<script language="javascript">
    $(document).ready(function()
    {
        oUsers.InitLogin();
    });
</script>
{/block}

{block name="login_box"}
<div class="header_right">
    <div class="header_user sign_right">
        You do not have an account? <a href="/base/user/registration">Sign up</a>
    </div>
    <div class="header_icon">
        <a href="#" class="help_icon" title="help"><span>help</span></a>
    </div>
</div>
{/block}


{block name="content"}
<!--content_block-->
<div class="content_block big_content">
    <h1>Sign in</h1>

    {if $notice}
    <div class="alert alert_note">
        <strong>Please note:</strong> {$notice}
    </div>
    {/if}
    
    {if $error}
    <div class="alert alert_error">
        <a class="close" href="javascript:void(0);" onclick="$(this).parent().hide();" title="close">×</a>
        <strong>Error!</strong> {$error}
    </div>
    {/if}
    {if $loginerr}
    <div class="alert alert_error">
        <a class="close" href="javascript:void(0);" onclick="$(this).parent().hide();" title="close">×</a>
        <strong>Error!</strong> {$loginerr_text}
    </div>
    {/if}

    <form action="/base/user/login" method="post" id="login_form" class="big_form">
        <fieldset>
            <br /><br />
            <div>
            <table class="form_table">
                <tr>
                    <td class="label_td"><label>Email address</label></td>
                    <td><input type="text" class="text_input" name="system_login" id="system_login" value="{$system_login_data}" /></td>
                    <td>{*<div class="error">Address already registered</div>*}</td>
                </tr>
                <tr>
                    <td class="label_td"><label>Password</label></td>
                    <td><input type="password" name="system_pass" id="system_pass" value="" class="text_input" /></td>
                    <td>{*<div class="good">Password strength: Good</div>*}</td>
                </tr>
            </table>
            <table class="form_table">
                <tr>
                    <td class="label_td"></td>
                    <td>
                        <input type="submit" id="login_subm" class="button yellow_button" value="Sign in" />
                        &nbsp;&nbsp;<a href="/base/user/forgot">Forgot password?</a>
                    </td>
                </tr>	
            </table>
            </div>
            <div class="line"></div>
            <div class="form-add">
                Don't have an account? <a href="/base/user/registration">Sign up free!</a>
            </div>
        </fieldset>
    </form>
</div>
<!--/content_block-->
<!--sitebar_02-->
<div class="sitebar sitebar_02">
    <div class="r_social">
        <p>Alternatively, you can use your existing account on Facebook or Twitter to sign up to Artistsfan</p>
        <a href="javascript:void(0);" onclick="oUsers.FBLoginCustom();"><img src="/i/facebook.gif"  alt="" /></a>
        <a href="javascript:void(0);" onclick="oUsers.TwtGetAuthUrl();"><img src="/i/twitter.gif"  alt="" /></a>
    </div>
</div>
<!--/sitebar_02-->                
{/block}

