{extends file="base.html"}

{block name="content"}
<!--content_block-->
<div class="content_block big_content">
    <h1>Sign up</h1>

    <div class="alert alert_success">
            <a class="close" href="javascript:void(0);" onclick="$(this).parent().hide();" title="close">×</a>
            <strong>Success!</strong>
            Registration complete! We have received you request to create an artist profile. We are reviewing your request. Check your mail box for approval notification.
    </div>
    
    <a href="/base/user/Login">Please Log In</a>
</div>
<!--/content_block-->
{/block}