{extends file="base.html"}
{block name="body_class"}{/block}


{block name="javascript"}
<script type="text/javascript" src="/dev/templates/js/cls/Errors.js"></script>
<script type="text/javascript">
    var errs = {literal}{{/literal}{foreach key=k item=i name=n from=$errs}{if !$smarty.foreach.n.first}, {/if}'{$k}' : '{$i}'{/foreach}{literal}}{/literal};
    $(document).ready(function()
    {
        oErrors.Show();
        oUsers.InitRegistration();
    });
</script>
{/block}

{block name="login_box"}
<div class="header_right">
    <div class="header_user sign_right">
        Already have an account? <a href="/base/user/login">Sign in</a>
    </div>
    <div class="header_icon">
        <a href="#" class="help_icon" title="help"><span>help</span></a>
    </div>
</div>
{/block}


{block name="content"}
<!--content_block-->
<div class="content_block big_content">
    <h1>Sign up as {if $status==1}fan{else}artist{/if}</h1>
    {if $errs}
    <div class="alert alert_error">
        <a class="close" href="javascript:void(0);" onclick="$(this).parent().hide();" title="close">×</a>
        <strong>Error!</strong> Errors were found with your registration. Please correct the highlighted fields below.
    </div>
    {/if}
    <form action="/base/user/registration" method="post" id="reg_form" class="big_form">
        <input type="hidden" name="status" id="status" value="{$status}" >
        <fieldset>
            <h3>Account info</h3>
            <table class="form_table">
                <tr>
                    <td class="label_td"><label>E-mail address<span style="color:red;">*</span></label></td>
                    <td><input type="text" name="fm[email]" id="email" value="{$fm.email}" class="text_input" /></td>
                    <td id="err_email"></td>
                </tr>
                {if !$FB_AUTH}
                <tr>
                    <td class="label_td"><label>Password<span style="color:red;">*</span></label></td>
                    <td><input type="password" name="fm[pass]" id="pass" value="{$fm.pass}" class="text_input" />
                    <br /><small>Minimum 6 characters</small></td>
                    <td id="err_pass"></td>
                </tr>
                <tr>
                    <td class="label_td"><label>Repeat Password<span style="color:red;">*</span></label></td>
                    <td><input type="password" name="fm[pass2]" id="pass2" value="{$fm.pass2}" class="text_input" /></td>
                    <td id="err_pass2"></td>
                </tr>
                {/if}
                <tr>
                    <td class="label_td"><label>First Name<span style="color:red;">*</span></label></td>
                    <td><input type="text" name="fm[first_name]" id="first_name" value="{$fm.first_name}" class="text_input" /></td>
                    <td id="err_first_name"></td>
                </tr>
                <tr>
                    <td class="label_td"><label>Last Name<span style="color:red;">*</span></label></td>
                    <td><input type="text" name="fm[last_name]" id="last_name" value="{$fm.last_name}" class="text_input" /></td>
                    <td id="err_last_name"></td>
                </tr>
                <tr>
                    <td class="label_td"><label>Username<span style="color:red;">*</span></label></td>
                    <td><input type="text" name="fm[name]" id="name" value="{$fm.name}" class="text_input" />
                    <br /><small>Maximum 40 characters</small></td>
                    <td id="err_name"></td>
                </tr>
                <tr>
                    <td class="label_td"><label>Birth date</label></td>
                    <td><select name="fm[mm]" class="small_select">
                            <option value="">month</option>
                            {foreach key=k item=i from=$mm}
                            <option value="{$k}"{if $k==$fm.mm} selected="selected"{/if}>{$i}</option>
                            {/foreach}
                        </select>

                        <select name="fm[dd]" class="small_select">
                            <option value="">day</option>
                            {foreach key=k item=i from=$dd}
                            <option value="{$k}"{if $k==$fm.dd} selected="selected"{/if}>{$i}</option>
                            {/foreach}
                        </select>

                        <select name="fm[yy]" class="small_select">
                            <option value="">year</option>
                            {foreach key=k item=i from=$yy}
                            <option value="{$k}"{if $k==$fm.yy} selected="selected"{/if}>{$i}</option>
                            {/foreach}
                        </select>
                    </td>
                    <td id="err_dob"></td>
                </tr>
                <tr>
                    <td class="label_td"><label>Gender</label></td>
                    <td class="radio_td"><input type="radio" class="radio" id="male" value="1" name="fm[gender]"{if $fm.gender==1} checked="checked"{/if} /><label for="male">Male</label><input type="radio" class="radio" id="female" value="2" name="fm[gender]"{if $fm.gender==2} checked="checked"{/if} /><label for="female">Female</label><input type="radio" class="radio" id="disclose" value="0" name="fm[gender]"{if !$fm.gender} checked="checked"{/if} /><label for="disclose">Prefer not to disclose</label></td>
                    <td id="err_gender"></td>
                </tr>
            </table>

            {if $status==1}
            <h3>Location</h3>

            <div class="alert alert_note">
	        <strong>Why do we ask:</strong> We love to deliver information relevant to your area (for example, event announcements), that is why we ask you to let us know your location. More info in <a href="#">privacy policy</a>.
            </div>
            
            <table class="form_table">
                <tbody><tr>
                        <td class="label_td"><label>Country</label></td>
                        <td>
                            <select name="fm[country]">
                                {foreach key=k item=i from=$countries}
                                <option value="{$i.Iso2}"{if $i.Iso2==$GeoIp.country} selected="selected"{/if}>{$i.Name}</option>
                                {/foreach}
                            </select>
                        </td>
                        <td id="err_country"></td>
                    </tr>
                    <tr>
                        <td class="label_td"><label>City</label></td>
                        <td><input type="text" class="text_input" value="{if $fm.city}{$fm.city}{else}{$GeoIp.city}{/if}" style="width: 170px;" id="city" name="fm[city]">&nbsp;&nbsp;
                            <label for="">ZIP</label>&nbsp;
                        </td>
                        <td>
                            <div style="margin-top: 8px;">
                                &nbsp;<a onclick="$('#city').attr('value', ''); $('#zip').attr('value', ''); $('#city').focus(); return false;" href="#">Incorrect?</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="label_td"><label></label></td>
                        <td class="radio_td"><input type="checkbox" name="fm[hide_loc]" value="1" id="loc"{if $fm.hide_loc} checked="checked"{/if}>&nbsp;<label for="loc">Don't publish my location on my page</label></td>
                        <td></td>
                    </tr>
                </tbody></table>
            
            {/if}

            {if $status==2}
            <h3>Artist/band info</h3>
            <table class="form_table">
                <tr>
                    <td class="label_td"><label>Artist/band name</label></td>
                    <td width="287"><input type="text" name="fm[band_name]" id="band_name" value="{$fm.band_name}" class="text_input" /></td>
                    <td id="err_band_name"></td>
                </tr>
                <tr>
                    <td class="label_td"><label>Years active</label></td>
                    <td><input type="text" name="fm[years_active]" id="years_active" value="{$fm.years_active}" class="text_input small_input" /></td>
                    <td id="err_years_active"></td>
                </tr>
                <tr>
                   <td class="label_td"><label>Location</label></td>
                   <td><input type="text" name="fm[location]" value="{$fm.location}" class="text_input" /></td>
                   <td id="err_location"></td>
                </tr>
                <tr>
                    <td class="label_td"><label>Genre(s)<span style="color:red;">*</span></label></td>
                    <td>
                        {assign var="maxv" value=$genres|@count/2}
                        {assign var="maxv" value=$maxv|ceil}
                        <table>
                            <tr>
                            {foreach name=n key=k item=i from=$genres}
                            {if $smarty.foreach.n.index mod $maxv == 0}
                            <td class="radio_td">
                            {/if}
                            <input type="checkbox" id="genres{$k}" name="fm[genres][{$k}]" value="1"{if $fm.genres.$k} checked="checked"{/if} /> <label for="genres{$k}">{$i}</label><br />
                            {assign var="nv" value=$smarty.foreach.n.index+1}
                            {if $nv mod $maxv == 0}
                            </td>
                            {/if}
                            {/foreach}
                            </tr>
                        </table>
                    </td>
                    <td id="err_genres"></td>
                </tr>
                <tr>
                    <td class="label_td"><label>Members</label></td>
                    <td><input type="text" name="fm[members]" value="{$fm.members}" class="text_input" /></td>
                    <td id="err_members"></td>
                </tr>
                <tr>
                    <td class="label_td"><label>Website</label></td>
                    <td><span class="light">http://</span> <input type="text" name="fm[website]" id="website" value="{$fm.website}" class="text_input website_input" /></td>
                    <td id="err_website"></td>
                </tr>
                <tr>
                    <td class="label_td"><label>Bio</label></td>
                    <td colspan="2"><textarea name="fm[bio]">{$fm.bio}</textarea></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td class="label_td"><label>Record label(s)</label></td>
                    <td colspan="2">
                        <div class="rlabel">
                        {foreach name=n key=k item=i from=$fm.record_label}
                        <div class="pitem" style="padding-bottom:5px;">
                           <span class="light">Record-Label:</span> <input type="text" name="fm[record_label][]" value="{$fm.record_label.$k}" class="text_input record_input" />
                           &nbsp;<span class="light">Website:</span> <input type="text" name="fm[record_label_link][]" value="{$fm.record_label_link.$k}" class="text_input record_input" />
                           &nbsp;<a href="javascript:void(0);" class="del_label">Delete</a>
                        </div>
                        {foreachelse}
                        <div class="pitem" style="padding-bottom:5px;">
                           <span class="light">Record-Label:</span> <input type="text" name="fm[record_label][]" value="" class="text_input record_input" />
                           &nbsp;<span class="light">Website:</span> <input type="text" name="fm[record_label_link][]" value="" class="text_input record_input" />
                           &nbsp;<a href="javascript:void(0);" class="del_label">Delete</a>
                        </div>
                       {/foreach}
                       </div>
                        <div>
                           <a href="javascript:void(0);" id="add_label">Add record label</a>
                       </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
            {/if}
            <div class="line"></div>
            <table class="form_table">
                <tr>
                    <td class="label_td"></td>
                    <td>
                        <p>By clicking the Sign up button, you agree to our <a href="#">copyright policy</a>, <a href="#">terms of service</a> and <a href="#">privacy policy</a>.</p>
                        <input id="reg_btn" class="button yellow_button" type="submit" value="Sign up" />
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<!--/content_block-->
{if !$FB_AUTH}
<!--sitebar_02-->
<div class="sitebar sitebar_02">
    <div class="r_social">
        <p>Alternatively, you can use your existing account on Facebook or Twitter to sign up to Artistsfan</p>
        <a href="javascript:void(0);" onclick="oUsers.FBLoginCustom(2);"><img src="/i/facebook.gif"  alt="" /></a>
        <a href="javascript:void(0);" onclick="oUsers.TwtGetAuthUrl(2);"><img src="/i/twitter.gif"  alt="" /></a>
    </div>
</div>
<!--/sitebar_02-->
{/if}
{/block}
