AddType font/svg .svg
AddType application/x-font-woff        woff
AddType application/font-woff		   woff
AddType font/ttf .ttf
AddType font/eot .eot
AddType font/otf .otf
AddType font/woff .woff
AddType image/x-icon .ico

AddDefaultCharset UTF-8

Header unset ETag
FileETag None

php_flag magic_quotes_gpc off
php_flag magic_quotes_runtime off

RewriteEngine On
Options +FollowSymlinks
##RewriteBase /

<FilesMatch "\.(gif|jpe?g|png)$">
Order allow,deny
Allow from all
</FilesMatch>

RewriteCond %{REQUEST_URI} !(skin|\.js|\.swf|\.html|\.xml|\.woff|\.ttf|\.svg|\.eot)/?

# Rewrite Rule for skin folder

RewriteRule ^i/(.+\.(gif|png|jpg|htc))$ templates/images/$1 [L]
RewriteRule ^si/(.+\.(gif|png|jpg|htc|ico))$ skin/images/$1 [L]
RewriteRule ^ssi/(.+\.(gif|png|jpg|htc))$ skin/jqtransformplugin/img/$1 [L]
RewriteRule ^ssi2/(.+\.(gif|png|jpg|htc))$ skin/mods/admin/images/$1 [L]
RewriteRule ^sj/(.+\.(js|swf|png|css))$ skin/js/$1     [L]
RewriteRule ^ss/(.+\.(css|woff|ttf|svg))$ skin/css/$1 [L]
RewriteRule ^ss2/(.+\.(css|stl))$     skin/mods/admin/styles/$1 [L]
RewriteRule ^ss1/(.+\.(css|stl))$ skin/jqtransformplugin/$1 [L]
RewriteRule ^ssj/(.+\.(js|swf|png|css))$ skin/jqtransformplugin/$1     [L]
RewriteRule ^sfb/(.+\.(js|swf|png|css))$ skin/fancybox/$1     [L]

RewriteRule ^si2/(.+\.(gif|png|jpg|htc))$ skin/mods/admin/images/$1 [L]
RewriteRule ^ss2/(.+\.(css|stl))$ dev/skin/mods/admin/styles/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php
