/*
#border_top {_background: url(none); _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_images/big_mask.png', sizingmethod='crop');}
* html #root {_width:expression((document.compatMode && document.compatMode == 'CSS1Compat') ? (document.documentElement.clientWidth < 941 ? "941px" : (document.documentElement.clientWidth > 1078 ? "1018px" : "auto")) : (document.body.clientWidth < 941 ? "941px" : (document.body.clientWidth > 1078 ? "1018px" : "auto")));}

ol {zoom:0;}
ol li {zoom:0;}
ul {zoom:0;}
div a {zoom:0;}

_width:expression((this.offsetWidth) > 190? "190px" : this.offsetWidth);

*/
.search, .say_form, .button, .text_input, .header, .my_wallet, select, textarea, .alert, .track_timing, .track_bar {behavior: url(js/PIE.htc); position:relative;}
.popup {behavior: url(js/PIE.htc);}
.header {position:fixed;}
div {zoom:1;}

.container {width:960px; padding: 0 12px;}
.content_block {padding-left: 12px;}
.close {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);  font-weight:normal;}
.close:hover {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
.overlay {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=65);}
.popup_title {border-radius:5px 5px 0 0; behavior: url(js/PIE.htc);}
.popup .close {background: url(../images/close_ie.gif) 0 0 no-repeat; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
.content .container{background:#fff url(../images/content_sitebar_bg.gif) 235px 0 repeat-y;}

/* HOME PAGE */
.home_content {padding:0!important;}
.container.home_page {width:980px; padding: 0 0px;}

.content_block.wide {
	width: 712px!important;
	padding: 0 0 0 12px!important;
}