/*
#border_top {_background: url(none); _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_images/big_mask.png', sizingmethod='crop');}


ol {zoom:0;}
ol li {zoom:0;}
ul {zoom:0;}

_width:expression((this.offsetWidth) > 190? "190px" : this.offsetWidth);

*/
div {zoom:1;}
.top_menu {position:relative; _right:-34px;}
#main_body2 .top_menu {position:relative; _right:-30px;}

hr { border-bottom:0px solid #fff; color:#fff;}
.login_form #help {position:relative; top:-8px;}